# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# Environment
.env
.env.*

# Docker
*.pid
*.tar
*.img
.dockerignore

# VS Code / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Virtual env
env/
venv/
ENV/
.venv/
Pipfile.lock
poetry.lock

# OS files
.DS_Store
Thumbs.db

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/
